[Unit]
Description=SSH monitor service
After=sshd.service

[Service]
Type=simple
ExecStart=/usr/bin/monitoring_ssh.sh
Restart=always
User=root
Group=root

[Install]
WantedBy=multi-user.target

